storage/wsdl/autenticacao2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://webservicesto.logsistemas.local" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://webservicesto.logsistemas.local" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webservicesto.logsistemas.local">
      <s:element name="AutenticaCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlEntrada">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutenticaClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutenticaClienteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AutenticaClienteSoapIn">
    <wsdl:part name="parameters" element="tns:AutenticaCliente" />
  </wsdl:message>
  <wsdl:message name="AutenticaClienteSoapOut">
    <wsdl:part name="parameters" element="tns:AutenticaClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="AutenticacaoSoap">
    <wsdl:operation name="AutenticaCliente">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Autentica o acesso do cliento ao WebService</wsdl:documentation>
      <wsdl:input message="tns:AutenticaClienteSoapIn" />
      <wsdl:output message="tns:AutenticaClienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutenticacaoSoap" type="tns:AutenticacaoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutenticaCliente">
      <soap:operation soapAction="http://webservicesto.logsistemas.local/AutenticaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AutenticacaoSoap12" type="tns:AutenticacaoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutenticaCliente">
      <soap12:operation soapAction="http://webservicesto.logsistemas.local/AutenticaCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Autenticacao">
    <wsdl:port name="AutenticacaoSoap" binding="tns:AutenticacaoSoap">
      <soap:address location="http://webservices2.detran.to.gov.br/wsAutenticacao/Autenticacao.asmx" />
    </wsdl:port>
    <wsdl:port name="AutenticacaoSoap12" binding="tns:AutenticacaoSoap12">
      <soap12:address location="http://webservices2.detran.to.gov.br/wsAutenticacao/Autenticacao.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>